.centralizar {
  display: flex; 
  justify-content: center; 
   align-items: center;
}

.centralizar-titulo {
  text-align: center; 
}

.catalogo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 110px 40px 40px 40px; /* 120px no topo por causa do cabecalho fixo */
  box-sizing: border-box;
}

.card-produto {
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.card-produto .img-produto {
  width: 100%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* aqui é o css dos botões de carrinho em baixo das placas  */
.botoes {
  background-color: #21ba45;
  border: none;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150px;
}

.botoes img {
  width: 24px;
  height: auto;
}

.botoes:hover {
  background-color: #16ab39;
}
 

/* AJUSTES DA BARRA PRINCIPAL PRETA */
div.ui.inverted.menu.barra-principal {
  border-radius: 0;
  margin-bottom: 0;
  padding: 15px 5%;
  margin: 0;
}

/* TAMANHO DA LOGO */
#logo-img {
  width: 110px;
}

/* ESTICA A BARRA DE PESQUISA PARA PREENCHER O MEIO */
.barra-pesquisa {
  flex-grow: 1;
  width: 65%;
  margin: 0 30px;
}

/* AJUSTES DA BARRA DE CATEGORIAS VERMELHA */
div.ui.red.inverted.menu.barra-categorias {
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 5%;
  border: none;
}

/* aqui é pra organizar os body */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
